[Desktop Entry]
Version=1.0
Type=Application
Name=Piclone
Comment=Make a copy of the Raspbian SD card
Exec=bash /home/pi/Scripts/Piclone_command.sh
Icon=media-removable
Terminal=false
StartupNotify=false
Name[en_GB.UTF-8]=Piclone